<!DOCTYPE html>
<html>

<head>
  <style>
    table, th, td {
  border: 1px solid black;
}
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 50%;
      
    }

    td,
    th {
      border: 1px solid #043857;
      text-align: left;
      padding: 5px;
      height: 50px;
    }

    tr:nth-child(even) {
      background-color: #dbdbbc;
      height: 50px;
    }
    th, td {
  padding: 10px;
  text-align: left;
}
tr:hover {background-color:#f1a3a3;}


  </style>
</head>

<body>
  

  <h2>ORDER SUMMARY</h2>
  <table border="0" style="width:100%" cellpadding="25" cellspacing="50">
    
    <tr>
      <td>Order value </td>
      <td>Rs 4016.60 </td>
    </tr>

    <tr>
      <td> Number of points redeemed(1point-Rs-1/-)</td>
      <td>100</td>
    </tr>

    <tr>
      <td>Total amount payable </td>
      <td> Rs 3916.60</td>      
    </tr>

    <tr>
      <td> Points earned</td>
      <td> 220</td>
    </tr>
  </table>
  
</body>

    </html>